//Global elements for returnToNCI bar for inclusion in nci-global.css
#returnToNCI-frame {
	/* display:block !important; */
	border:0;
	margin:0;
	width:100%;
	min-width: 320px;
	max-width: 100%;
	position:absolute;
	left:0;
	right:0;
	bottom:calc(100% - 20px);
	z-index: 10000;
	overflow: hidden;
	visibility: visible !important;
}
@media print {
	#returnToNCI-frame {display:none !important;}
}