@charset "utf-8";

//This stylesheet is specifically for the return to top bar's styling.
body {

}


#returnToNCInav {
    margin: 0;
    background: #1c5e86;
    height: 100%;
    display: block;
    line-height: 48px;
    text-align: center;
    a {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 10px;
        font-family: "Noto Sans", Arial, sans-serif
    }

    a:hover {
        text-decoration: underline;
    }
}